.tree-item {

    &[data-active=false] {

        & > span:first-child {
            opacity: 0.2;
            .tree-item-folder {
                text-decoration: line-through;
            }
        }

    }

    svg {
        fill: var(--base-400);
    }
}