.tree {
    overflow-y: scroll;

    & > .tree-item {
        &:not(:first-of-type){ 
            border-left: solid 1px var(--base-700);
        }
        & > span .tree-item-subdir {
            display: none;
        }
    }

}