:root {

	/* base */
	--base-950: #202020;
	--base-900: #262626;
	--base-800: #303030;
	--base-700: #444444;
	--base-600: #5c5c5c;
	--base-500: #757575;
	--base-400: #909090;
	--base-300: #a7a7a7;
	--base-200: #bcbcbc;
	--base-100: #cfcfcf;
	--base-50: #eaeaea;


	--background-color: var(--base-950);

}